.card {
  background-color: rgb(209, 209, 209);
  margin-top: 15%;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

body{
  overflow: scroll;
}
